* {
  font-family: "Roboto", sans-serif;
  user-select: none;
}
body {
  overflow: hidden;
}
h2 {
  font-family: "Michroma", sans-serif;
  color:white;

}

.custom-background {
  background: linear-gradient(to bottom, rgba(31, 118, 194, 1), rgba(59, 162, 138, 1));
}
.icon-style {
  border-radius: 20%;
  background-color: #ffffff26;
}  

.icon-style:hover {
  background-color: #ffffff4d;
}
html,
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}